//archive

.adventure-page-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 1100px;
  margin: 0 auto;  

  padding-top: 50px;
  margin-bottom: 80px;
  border-top:1px dashed #c8c8c8;
  h2 {
    position: absolute;
    top: 0;
    padding: 20px;
    z-index: 10;
  
    
    a {
      border: none;
      text-transform: none;

      padding: 0;
      color: $color-white;
      font-weight: normal;
      font-size: 2em;
      line-height: 1.3;
      &:hover {

        background-color: transparent;
        border: none;
      }
    }
  }
  

  article {
      .entry-header{
          h2{
              a{
               &:hover{
                color:lighten(#d99054,20%);
               }
              }
          }
      }
    position: relative;
    height: 500px;

    &::after {
      background: rgba(0,0,0,0.3);
      content: "";
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .read-more-button {
      position: absolute;
      top: 200px;
      margin-left: 20px;
      padding: 10px 20px;
      border: 1px solid white;
      font-family:$font-title;

      text-transform: uppercase;
      color: $color-white;
      z-index: 10;
      &:hover {
        @include btn-hover;
      }
    }
  }
}

.post-type-archive-adventure {
  .page-header {
    margin-top: 100px;
    h1 {
      font-weight: bold;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5em;
      font-family:$font-title;

    }
  }
}

//single

.adventure-template-default {
    .journal-page-blocks{
        margin-bottom:8%;
    }
  
    .site-brand{
		position:absolute;
		background: url(../../images/inhabitent-logo-tent-white.svg) no-repeat;
		background-size: 50px 33px;
		height: 33px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		width: 500px;
		margin-left:85px;
		margin-top:12px;
	}
   .site-header{
       position:absolute;
   }
   .entry-header{
   img{
       width:100%;
       height:130%; 
   }
}
  
    .entry-content {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      p {

      }
    }
  
    .entry-title {
      text-align: center;
      margin: 0;
      margin-top: 40px;
      padding: 0;
      font-weight: bold;
      font-size: 2.3em;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family:$font-title;

    }
    .entry-meta{
        text-align:center;
        font-family:$font-title;
        font-size:1.5rem;
    }
  
    h4 {
      margin: 0;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.1em;
    }
  
    .social-media-links {
      margin-bottom: 80px;
    }


    .btn-container{
        margin-left:18.3%;
    }

    .btn{
        @include btn-white;
        &:hover{

           @include btn-hover;
        }
    }
  }