/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

body{
	color:black;
}


.site-header{
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
	background-attachment:fixed;
	height:100vh;
}

.logo-front{
	position:absolute;
	top:40%;
	right:40%;
	

}



.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: $base__space-unit 0 0;
// }

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.entry-content{
	margin:3rem auto;
	max-width:800px;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.footer-container{
	display:flex;
	margin-left:auto;
	margin-right:auto;
	width:1120px;
}
.contact{
	width:25%;
	margin:3rem 0;

}
.bhours{
	width:25%;
	margin:3rem 0;
}
.textlogo{
	width:50%;
	text-align:right;
	margin-top:4.2rem ;


}
.textlogo img{
	max-width:50%;
}
.site-info{
text-align:center;

}

.site-footer{
	background-image:url("../../images/darkwood.png");
	height:100%;
	color:white;
	h3{
		color:#d99054;
		text-transform: uppercase;
		font-size:1.2rem;
	}
}


.daysweek{
	font-weight:bold;
}


