.page-id-17{
    .entry-content{
        margin-left:8%;
        margin-right:5%;
    }
    ul{
		padding:0;
		margin:0;
	}
	li{
		list-style-type: none;

	}

	.day-of-week{
		font-weight:bold;
	}
	.widget{
		font-size: 1rem;
		
	}

	.textwidget{

			font-size: 1rem;
			line-height:1.75;
		svg{
			margin-right:10px;
		}

	}
	.menu{
       
		
		a {
			color: #248a83;
		
		
		}
		a:hover{

			color:#2f1339;
		}
		
	}

	a{
		color:#248a83;
	}
	a:hover{

		color:#2f1339;
	}
	.top-menu{
		input::placeholder{
			color: darken(#f0e4d1,30%)
        }
        svg{
            color:#248a83;
        }
	}
    
    .top-menu{
        border-bottom: 1px solid #e1e1e1;
    }

    .widget-area{
        display:flex;
        flex-direction:column;
        width: 45%;
        border: 1px solid #e1e1e1;

        text-align:left;
        padding:50px;
        border-top:none;
        border-bottom:none;
        border-right:none;
    
        .widget-title{
            font-family:"Novecento";
            font-size: 1.5rem;
            letter-spacing:2px;
            text-transform:uppercase;
        }
    }
   
.site-content{
display:flex;
justify-content:space-between;

}
}