/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Novecento';
    src: url('543c62124e789a2a88a28bb596883d65.woff2') format("woff2"), url('543c62124e789a2a88a28bb596883d65.woff') format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic.woff2') format("woff2"), url('Merriweather-LightItalic.woff') format("woff");
    font-weight: 300;
    font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.woff2') format("woff2"), url('Merriweather-BoldItalic.woff') format("woff");
    font-weight: bold;
    font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.woff2') format("woff2"), url('Merriweather-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.woff2') format("woff2"), url('Merriweather-Bold.woff') format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Novecento';
    src: url('688d7c5cba7d4856b6154ffc00257047.woff2') format("woff2"), url('688d7c5cba7d4856b6154ffc00257047.woff') format("woff");
    font-weight: normal;
    font-style: normal;
  }